.email-input{
    width: 486px;
    height: 64px;
    border: 1px solid rgb(26, 2, 2);
    border-radius: 6px;
    padding: 0 20px;
}
.password-input{
    width: 486px;
    height: 64px;
    border: 1px solid rgb(26, 2, 2);
    border-radius: 6px;
    padding: 0 20px;
}
.button-container-login{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 8px;
    top: 10px;

}
.button-inlet,
.button-check-in{
    position: relative;
    width: 50%;
    height: 56px;
    background: rgba(123, 110, 246, 1);
    border-radius: 12px;
    border: 2px;
    cursor: pointer;
    color: white;

}
.button-check-in{

}