.movie-search-container{
    position: relative;
    display: flex;
    top: 38px;
}

.search-field{
    width: 100%;
    position: relative;
   border-radius: 12px;
   height: 64px;
}

.film-search-button{
    position: relative;
    width: 121px;
    height: 56px;
}