.popover {
  width: 600px;
  height: 500px;
}
.search-box-container {
  position: relative;
  display: flex;
  flex-direction: column;
}
.search-word {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.filter-button {
  width: 135px;
  height: 56px;
  border-radius: 12px;
  border: 2px;
  color: rgb(238, 240, 243);
  border: 2px solid rgba(123, 110, 246, 1);
  top: 62px;
  
}
.search-box-button {
  width: 135px;
  height: 56px;
  background-color: rgba(123, 110, 246, 1);
  left: 55px;
}
.form-control-label{
  background: rgba(0, 0, 0, 0.1);

}
