#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background: rgba(18, 24, 41, 0.8);
}
.logo:hover {
  filter: drop-shadow(0 0 6em #646cfff8);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


