.search-box-container {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 27px;
  .search-word {
    position: relative;
    width: 100%;
    display: flex;
  }
}

.movie-container {
  justify-content: center;
  max-width: 1200px;
  margin: auto;
  position: relative;
  align-items: center;
}
.text-button-container {
  text-align: left;
  color: #767e94;
  line-height: 24px;
}
.text{
  font-size: 32px;
   font-weight: 600;
}
